@import '~vuetify/src/styles/settings/variables';

.cq-scroll-x-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 30px;
    display: flex;
    padding-bottom: 0.75rem;

    > * {
      scroll-snap-align: start;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
}

.cq-three-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cq-sm-max-width {
  max-width: map-get($grid-breakpoints, 'sm') !important;
}

.cq-md-max-width {
  max-width: map-get($grid-breakpoints, 'md') !important;
  margin-left: auto;
  margin-right: auto;
}
