.cq-scroll-x-container {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 30px;
  display: flex;
  padding-bottom: 1.25rem;

  > * {
    scroll-snap-align: start;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.cq-three-line {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
