@mixin clustericon {
  font-size: 16px;
  font-weight: bold;

  display: flex;
  align-items: center;

  border-radius: 100%;
  border: 1px solid $chouquette-grey;
  box-shadow: $shadow-key-umbra-opacity;
}

.clustericon {
  @include clustericon;
  background-color: white;

  // enforce size due to border size
  width: 32px !important;
  height: 32px !important;
}

.clustericon-chouquettise {
  @include clustericon;
  background-color: #ffe800;

  // enforce size due to border size
  width: 42px !important;
  height: 42px !important;
}
