// Buttons hover
.v-btn {
  // COLORED
  &.cq-yellow, &.cq-blue, &.cq-grey {
    @include hover-focus-active {
      background-color: var(--v-cq-red-base) !important;
    }
  }

  // OUTLINED
  &.v-btn--outlined.cq-red--text {
    @include hover-focus-active {
      background-color: var(--v-cq-red-base) !important;
      color: white !important;
    }
  }

  // CUSTOM
  &.btn--hover-yellow {
    @include hover-focus-active {
      background-color: var(--v-cq-yellow-base) !important;
    }
  }
}

.v-application h1 {
  font-weight: 900;
  margin: 1.5rem 0;
}
