// Colors
$chouquette-colors: (
  "yellow": #EFE407,
  "blue": #8DE3CE,
  "blue-light": #C5F9F5,
  "red": #D99056,
  "red-light": #F8B999,
  "grey": #3D3B3C,
  "grey-light": #9E9696,
  "beige": #F5F0EA,
);

// Fonts
$font-family-base: 'Lato', sans-serif;
$font-family-heading: 'Oswalt', sans-serif;
