@mixin clustericon {
  display: flex;
  align-items: center;
  background-size: cover;
}

.clustericon {
  @include clustericon;
  background-image: url('~static/marker_cluster_white.png');
}

.clustericon-chouquettise {
  @include clustericon;
  background-image: url('~static/marker_cluster_yellow.png');
}