@mixin clustericon {
  color: $black;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.clustericon {
  @include clustericon;
  background-image: url("/marker_white.png");
}

.clustericon-chouquettise {
  @include clustericon;
  background-image: url("/marker_yellow.png");
}