.stop-align {
  content: "";
  clear: both;
  display: table;
}

span.target {
  display: block;
  position: relative;
  visibility: hidden;

  top: -1 * ($header-height + $covid-banner-height + 5px);
}

.gutenberg-content {

  /* Customization */

  h1 {
    font-family: $font-family-heading;
  }

  a {
    color: $chouquette-grey;

    @include hover-focus-active() {
      color: $chouquette-dark-grey;
    }
  }

  /* GUTENBERG AND ADVANCED GUTENBERG CLASSES */

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  /* Default block styling */

  *[class^="wp-block"]:not(.wp-block-advgb-column):not(.wp-block-advgb-tab):not(.wp-block-advgb-accordion-item) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  /* Exceptions to default block styling */

  // Summary
  .wp-block-advgb-summary ul.advgb-toc {
    width: fit-content;
  }

  /* Gutenberg customization */

  // Image
  figure figcaption {
    font-style: italic;
    text-align: center;
  }

  // Couplet
  pre.wp-block-verse {
    color: $chouquette-darker-grey;
    background-color: $chouquette-light-grey;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid $chouquette-grey;
    border-radius: .25rem;
  }

  // Citation
  blockquote.wp-block-quote {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    border-left: 5px solid $chouquette-yellow;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;

    cite {
      color: $text-muted;
    }
  }

  // Instagram
  figure.wp-block-embed-instagram {
    iframe {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

}
