.stop-align {
  content: "";
  clear: both;
  display: table;
}

span.target {
  display: block;
  position: relative;
  visibility: hidden;

  top: -1 * ($header-height + $covid-banner-height + 5px);
}

.gutenberg-content {

    h1 {
      font-family: $font-family-heading;
    }

  // NEW STYLE (using only gutenberg without formating in backoffice)

  ::v-deep {
    a {
      color: $chouquette-grey;

      @include hover-focus-active() {
        color: $chouquette-dark-grey;
      }
    }

    .wp-block-embed,
    .wp-block-image,
    .wp-block-media-text {
      margin: 1.5rem auto;

      figure.aligncenter > figcaption {
        display: block;
      }
    }

    .wp-block-image.is-style-circle-mask {
      border-radius: 50%;
    }
  }

  // OLD STYLE (previous posts trying to format in backoffice)

  ::v-deep {
    /* Customs */

    text-align: justify;
    text-justify: inter-word;
    word-break: break-word;

    /* Defaults */

    h2,
    h3,
    h4 {
      margin-top: 2rem;
    }

    pre {
      @extend .alert !optional;
      @extend .alert-secondary !optional;
    }

    /* Alignements */

    .aligncenter:not(.wp-block-gallery) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .alignright:not(.wp-block-gallery) {
      float: right;
    }

    .alignleft:not(.wp-block-gallery) {
      float: left;
    }

    /* Figures */

    figure {
      text-align: center;
      max-width: 100%;
      margin: auto;

      figcaption {
        margin-top: 0.5rem;
        font-style: italic;
      }
    }

    figure.alignleft {
      margin-right: 15px;
    }

    figure.alignright {
      margin-left: 15px;
    }

    /* Images */

    img {
      max-width: 100%;
      height: auto;
    }

    img.alignright {
      padding: 4px;
      margin: 0 0 2px 7px;
      display: inline;
    }

    img.alignleft {
      padding: 4px;
      margin: 0 7px 2px 0;
      display: inline;
    }

    /* iFrame */

    iframe {
      min-width: auto !important;
      max-width: 100% !important;
    }

    /* Gallery */

    .gallery .gallery-item {
      float: left;
      text-align: center;
      width: 33%;
    }

    .gallery-columns-2 .gallery-item {
      width: 50%;
    }

    .gallery-columns-4 .gallery-item {
      width: 25%;
    }

    .gallery img {
      padding: 8px;
    }

    .gallery-columns-2 .attachment-medium {
      max-width: 92%;
      height: auto;
    }

    .gallery-columns-4 .attachment-thumbnail {
      max-width: 84%;
      height: auto;
    }

    .gallery .gallery-caption {
      font-style: italic;
    }
  }

}
