// Bootstrap custom variables
@import 'variables';
@import 'mixins';

// Bootstrap imports
@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index';

// hack bootstrap modal
.modal-header {
  .close {
    color: $chouquette-yellow;
    opacity: 1;
    text-shadow: none;
  }
}

// Bootstrap custom components
@import 'navbar';

// Custom helper classes and mixins
@import 'wordpress';

// Styling
@import "layout";
@import "post-card-shuffler";
@import "marker-clusterer";
@import "google-map";


// Fonts
@import 'fonts';

// Icons
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default;
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Swiper
$themeColor: $chouquette-yellow;
@import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";
@import "~swiper/components/pagination/pagination";