$chouquette-yellow: rgb(248, 239, 40);
$chouquette-light-grey: rgb(215, 215, 215);
$chouquette-grey: rgb(114, 114, 114);
$chouquette-dark-grey: rgb(53, 53, 53);
$chouquette-darker-grey: rgb(41, 41, 41);
$white: #ffffff;
$black: #000000;

$font-family-brand: 'heading_pro_bold', cursive;
