<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Shadows+Into+Light+Two|Lato&display=swap"
          rel="stylesheet"/>

    <title>La Chouquette</title>
</head>
<body>
<div class="d-flex flex-column min-vh-100">
    <div class="align-self-center flex-grow-1 d-flex flex-column justify-content-center align-items-center my-auto p-3">
        <img src="C:\Users\Fabrice\lachouquette\static\logo.png">
        <h1 class="my-3">Gros plantage ! <i class="fas fa-poo-storm"></i></h1>
        <p class="h4 my-3">On s'excuse platement...</p>
        <p>L'équipe est certainement en train de corriger le problème mais si l'erreur persiste, <a
                href="javascript:reportError()">signale
            le nous par
            mail</a> <span class="h5"><i class="far fa-kiss-wink-heart"></i></span></p>
        <div></div>
    </div>
    <div class="w-100 text-center bg-dark py-3">
        <div class="h3 m-0">
            <a href="https://www.facebook.com/lachouquettelausanne" title="Facebook" target="_blank" class="mx-3 text-decoration-none">
                <i class="fab fa-facebook-f" style="color: #F2E808"></i>
            </a>
            <a href="https://www.instagram.com/lachouquettelausanne" title="Instagram" target="_blank" class="mx-3 text-decoration-none">
                <i class="fab fa-instagram" style="color: #F2E808"></i>
            </a>
        </div>
    </div>
</div>
<script language="JavaScript">
    function reportError() {
        window.location.href = 'mailto:webmaster@lachouquette.ch?subject=Erreur serveur - ' + window.location.href
    }
</script>
<script crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>
</html>